<form asp-controller="Order" asp-action="OrderProducts" method="post">
    <label>How many units of product do you want to order?</label>
    <input type="number" name="quantity" />
    <br />
    <button type="submit">Confirm</button>
</form>
