@model LR7.Views.File.DownloadFileModel
<!DOCTYPE html>

<form action="DownloadFile" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required><br>

    <label for="fileName">File Name:</label>
    <input type="text" id="fileName" name="fileName" required><br>

    <label for="fileContent">File Content:</label>
    <textarea id="fileContent" name="fileContent" rows="5" cols="40"></textarea><br><br><br>

    <input type="submit" value="Download File">
</form>
